

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.search-field label {
    margin-right: 4px;
       
}

.info-area{
    margin-top: 48px;

 
}

form{
    width: 350px;
}

.link-item{
    list-style: none;
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    text-decoration: underline;
        width: 200px;
        cursor: pointer;
            box-shadow: rgb(54 2 46 / 66%) 0px 3px 18px 2px;
}