

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.search-field label {
    margin-right: 4px;
       
}

.info-area{
    margin-top: 80px;
 
}

form{
    width: 350px;
}

.link-item{
    list-style: none;
    display: block;
    text-decoration: underline;
        width: 200px;
        cursor: pointer;
}